.insta {
    border-radius: 25%;
}

.info {
    text-align: center;
}

body {
    background-image: url('./imgProg/wp6331526.png');
    background-size: cover;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}